<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Pixels</title>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/pixels.css"
          th:href="@{css/pixels.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container" th:replace="fragments/navbar :: navbar">
    <p>navbar</p>
</div>

<h1>Hello World</h1>
<h2>Thymeleaf index page</h2>

<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>